<head>
<style>
#header {
    background-color:#FFC125;
    color:black;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:#FFC125;
    color:black;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>
</head>
<body>

<div id="header">
<h1>Alpha-Blog</h1>
</div>

<div id="nav">
<%= link_to 'Home', root_path %><br>
<%= link_to 'About', about_path %>
</div>

<div id="section">
<h2>About</h2>
<p>This is the about page.</p>
</div>

<div id="footer">
alpha-blog
</div>

</body>
